.steps-slider-sec {
    .swiper-slide {
        @extend .d-flex,
        .align-items-center;

        @include media-breakpoint-up(lg) {
            max-height: 100vh;
        }

        @include media-breakpoint-between(sm, lg) {
            max-height: 935px;
        }

        @include media-breakpoint-down(sm) {
            max-height: 600px;
        }
    }

    .ss-slide {
        @extend .w-100;
        background: linear-gradient(180deg, rgba(246, 243, 255, 0) 0%, #F6F3FF 52.08%, rgba(246, 243, 255, 0) 100%);

        &>.container-fluid {
            @extend .d-flex,
            .align-items-center,
            .justify-content-between;


            @include media-breakpoint-up(sm) {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }

            @include media-breakpoint-up(md) {
                //min-height: 100vh;
            }

            @include media-breakpoint-down(sm) {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }

        &-content {

            @include media-breakpoint-up(lg) {
                max-width: 400px;
            }

            @include media-breakpoint-down(lg) {
                max-width: 480px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            &-img {
                @extend .d-block,
                .d-lg-none;

                @include media-breakpoint-down(lg) {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                @include media-breakpoint-down(sm) {
                    img {
                        max-height: 350px;
                    }
                }
            }

            h6 {
                @extend .font-weight-600,
                .text-uppercase;
                color: #5F18EB;
                font-size: 14px;
            }

            h3 {
                @extend .font-weight-500;
                color: #221836;
                margin: .5rem 0 1.125rem 0;

                @include media-breakpoint-up(lg) {
                    font-size: 3.75rem;
                }

                @include media-breakpoint-between(sm, lg) {
                    font-size: 40px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 24px;
                }
            }

            p {
                color: #736392;

                @include media-breakpoint-up(lg) {
                    font-size: 1.25rem;
                }

                @include media-breakpoint-between(sm, lg) {
                    font-size: 18px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 15px;
                }
            }

            .btn {
                @extend .d-inline-flex,
                .align-items-center,
                .justify-content-center;

                @include media-breakpoint-up(lg) {
                    width: 7.875rem;
                    height: 3.25rem;
                }

                @include media-breakpoint-between(sm, lg) {
                    width: 100px;
                    height: 44px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 1rem;
                }

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }

        &-img {
            @extend .d-none,
            .d-lg-block;
        }

        &:nth-child(odd) {
            .ss-slide-img {
                order: -1;
            }
        }
    }

    .swiper-pagination {
        &-bullet {
            width: 6px;
            height: 6px;
            margin: 8px auto !important;

            &.swiper-pagination-bullet-active {
                width: 10px;
                height: 10px;
                background: linear-gradient(81.12deg,
                        #5e17eb 0%,
                        #551df7 52.79%,
                        #7417eb 100%);
                box-shadow: 0px 1px 1px rgba(94, 23, 235, 0.2);
            }
        }

        &-vertical {
            right: 24px;
        }
    }
}
