$system-font-stack: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

@import "main_folder/scss/fonts/fonts";
@import "main_folder/scss/vendors/bootstrap/bootstrap.scss";
@import "main_folder/scss/vendors/swiper-bundle.min.css";
// @import "main_folder/scss/abstracts/_mixin.scss";
// @import "main_folder/scss/abstracts/_variables.scss";
// @import "main_folder/scss/base/_reset.scss";
@import "main_folder/scss/global";
@import "main_folder/scss/supporting/site-header";
@import "main_folder/scss/supporting/section-compliant";
@import "main_folder/scss/supporting/site-footer";
// @import "main_folder/scss/base/_typography.scss";
// @import "main_folder/scss/components/_form.scss";
// @import "main_folder/scss/components/_buttons.scss";
// @import "main_folder/scss/components/_card.scss";
// @import "main_folder/scss/components/_header.scss";
@import "main_folder/scss/components/_footer.scss";
//@import "main_folder/scss/layout/_home.scss";

// @import "main_folder/scss/layout/_responsive.scss";
